.backToHome{
  position: fixed;
  top: 40px;
  left: 30px;
  text-align: center;
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
}

.backToHome a{
  color: #fff;
}
.tableContainer {
  width: 100%;
  background: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #000;
  color: #fff;
  text-align: left;

}

th,
td {
  padding: 8px 20px;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

tr:hover {
    background-color: #333;
    color: #fff;
}
